#ABOUT{
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 80%;
  background-color: black;
  opacity: .8;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /*align-items: center;*/
  /*align-items: center;*/
  color: white;
  padding: 0;
  /*margin: 10%;*/
  /*height: %;*/
}

.codebreakers-outer-box {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: space-around;
  /*flex-wrap: nowrap;*/
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  width: 100%;
}

.codebreakers-profiles {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 80%;
  /*margin-bottom: 50px;*/

}

.eachBreaker{
    display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    /*justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;*/
    text-align: center;
    /*width: 100%;*/
}

.codebreakers-profiles img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.codebreakers-names {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 370px;
}

#aboutTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 2.5em;
}
.aboutCopy{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 25%;
  width: 60%;

}
