.eachBreaker{
    display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
    width: 100%;
}

.about-outer-box h2,
.about-outer-box h1 {
  color: #00cc66;
}

.codebreakers-outer-box {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}

.codebreakers-profiles {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 400px;
  margin-bottom: 50px;
}
    .codebreakers-profiles img {
      width: 100px;
      height: auto;
      border-radius: 50%;
    }

.codebreakers-names {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 370px;
}
    .codebreakers-names h2 {
      /*width: 75px;*/
    }
