html{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 99%;
  width: 99%;
  /*border: solid;*/
}
#mainSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  /*border: solid;*/
}

#header{
  display: flex;
  flex-direction: row;
  /*margin-top: .5%;*/
  justify-content: space-between;
  align-items: flex-start;
  height: 6%;
  width: 99%;
  border-bottom: solid;
}

.landingPageSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 99%;
  /*border: solid;*/
  background-color: black;
  background-image: url('../images/jscode.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#pageNav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7%;
  width: 99%;
  /*border: solid;*/
}

.lpContainerImage{
  position: relative;
  /*border: solid red;*/
  height: 105%;
  width: 110%;
  margin-top: -30px;
}

#lpAnimationBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  height: 100%;
  width: 75%;
  margin-bottom: 2%;
  /*border: solid white;*/
}

.blackBackground{
  position: relative;
  right: 1%;
  z-index: 0;
  bottom: 161%;
  height: 62%;
  width: 68%;
  background-color: black;
  border: solid black 6px;

}
.lpScrollingImage{
  position: relative;
  right: 1%;
  z-index: 2;
  bottom:97%;
  height: 62%;
  width: 68%;
  border: solid black 6px;
  border-radius: 13px;
}

#pageTitle{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 99%;
  width: 15%;
}

.ImageDesc{
  color: black;
  background-color: white;
  font-size: 15px;
  margin-bottom: -20%;
  padding: 5px;
  position: relative;
  left: -25%;
  top: 83%;
  z-index: 2;
  border-radius: 5px;
  opacity: .9;
}
.imgCircles{
  position: relative;
  right: 5px;
  bottom: 19%;
  display: flex;
  /*border: solid;*/
}
.circle{
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: black;
}
